/* 6_recipe.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 20px;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 50px;
    background-color: #fff;
}

#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

#logo {
    width: 30px; /* 로고 크기 조정 */
    position: absolute;
    left: 15px; /* 로고 위치 조정 */
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#search-bar {
    width: 100%;
    padding: 15px 20px 15px 50px; /* 로고 공간 확보를 위해 padding-left 조정 */
    border-radius: 30px;
    border: 2px solid #8bc34a;
    background-color: #fff;
    color: #333;
    font-size: 18px;
    outline: none;
}

#search-bar::placeholder {
    color: #ccc;
    font-size: 16px; /* placeholder 글자 크기 조정 */
}

#user-name-container {
    display: flex;
    align-items: center;
}

#user-name {
    font-size: 20px;
    color: black; /* 이름 폰트 색상 변경 */
}

.dropdown-icon {
    margin-left: 10px;
    width: 20px;
    height: 20px;
    background-color: #f3f3f3;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #ccc;
}

nav {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #ff6f61;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}

nav a:hover {
    text-decoration: underline;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-section {
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 20px;
}

.form-section h3 {
    margin-bottom: 10px;
}

.form-section form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.form-section input,
.form-section select {
    flex: 1;
    min-width: 150px;
    padding: 5px;
}

.fridge-list {
    width: 100%;
    margin-top: 40px;
}

.fridge-table {
    width: 100%;
    border-collapse: collapse;
}

.fridge-table th, .fridge-table td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

.fridge-table th {
    background-color: #6C7B8B;
    color: white;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

.step-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.img-container img {
    width: 300px;
    height: auto;
    margin-right: 10px;
}

.text-container {
    flex: 1;
    font-size: 20px;
}

#searchRecipes {
    width: 100px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#searchRecipes:hover {
    background-color: #45a049;
}

.container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    min-width: 320px;
}

.recipe-column img {
    width: 280px;
    height: auto;
    margin-bottom: 10px;
}

.recipe-column h2 {
    font-size: 16px;
    margin: 10px 0;
}

.recipe-column {
    cursor: pointer;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
}

#recipe-results {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

@media (max-width: 768px) {
    #recipe-results {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
    }

    .recipe-column img {
        width: 80px;
    }

    .recipe-column h2 {
        font-size: 14px;
    }
}

.scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
