body {
    font-family: Arial, sans-serif;
    background-color: #FFF;
    color: #333;
}

header {
    background-color: #ff6f61;
    color: white;
    padding: 2px 0;
    text-align: center;
    position: relative;
}

nav {
    background-color: #005555; /* 배경색 변경 */
    overflow: hidden;
    padding: 10px 0;
    display: flex; /* 메뉴를 flexbox로 설정 */
    justify-content: space-between; /* 좌우로 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
}

.nav-left {
    display: flex;
    align-items: center;
}

nav .logo {
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8) !important;
    font-weight: 500;
    text-decoration: none; /* 링크 밑줄 제거 */
    margin-right: 20px; /* 로고와 검색창 사이 간격 */
}

nav .logo:hover {
    color: #fff !important;
}

.search-bar-container {
    padding-left: 10px;
    display: flex;
    align-items: center;
}

#search-bar {
    width: 300px;
    padding: 10px 15px;
    border-radius: 25px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    outline: none;
}

#search-bar::placeholder {
    color: #ccc;
    font-size: 14px;
}

nav .site-menu {
    display: flex; /* 메뉴 항목을 가로로 배치 */
    gap: 15px; /* 메뉴 항목 사이 간격 */
}

nav .site-menu a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

nav .site-menu a:hover {
    background-color: #e65c50;
}

.content {
    display: flex;
    flex-direction: column; /* 내용을 수직으로 정렬하기 위해 column으로 설정 */
    align-items: center; /* 가운데 정렬 */
    padding: 20px; /* 위 아래 여백 추가 */
}

input[type=text] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

table {
    width: 70%;
    border-collapse: collapse;
    margin: 1%;
    color: #333;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th:last-child, td:last-child {
    text-align: center;
}

th {
    background-color: #f9f9f9;
    font-size: 16px;
}

td {
    font-size: 16px;
}

.create-button {
    position: auto;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.create-button:hover {
    background-color: #45a049;
}

a {
    text-decoration: none;
}

.delete-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 8px;
}

.delete-button:hover {
    background-color: darkred;
}

h3 {
    color: #ff6f61;
    margin-bottom: 10px;
}

.has-children:hover .dropdown {
    display: block;
}

.has-children:hover .dropdown {
    display: block;
}
.search-bar-container {
    position: relative;
}
#search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

#photo-preview img {
    max-width: 100%;
    height: auto;
    display: block;
    padding-top: 20px;
}

label {
    padding-top: 15px;
}

label[for="category"], label[for="photo"] {
    padding-bottom: 10px;
}

.recipe-description {
    border: 1px solid #ccc;
    color: #333;
    font-size: 18px;
}

.recipe-description h1 {
    padding-top: 20px;
    color: #243155;
}

.recipe-description p {
    padding-top: 20px;
}

.recipe-description h1, p, #recipe-ingredient, #recipe-category, #recipe-sumup, #recipe-process {
    padding-left: 20px;
}

#photo-container img {
    padding-top: 20px;
    max-width: 100%;
}

.container nav {
    background-color: transparent !important;
    align-items: center;
    justify-content: center;
}

.button-container {
    padding-top: 20px;
}

.burger {
    margin-left: auto;
}

@media (max-width: 991.98px) {
    .site-navigation {
        width: 100%;
    }
    .site-navigation .nav-left {
        flex-grow: 1;
    }
    .burger {
        order: 2;
    }
}

.add-btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.2rem 1rem;
    height: 47px;
    font-size: 1rem;
    border-radius: 0.25rem;
    -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out; }
    @media (prefers-reduced-motion: reduce) {
      .add-btn {
        -webkit-transition: none;
        -o-transition: none;
        transition: none; } }

.recipe-photo, .recipe-explain {
    color: #243155;
    padding: 20px;
    border: 1px solid #ccc;
    font-size: 18px;
}