.input-text{
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  padding: 7px;
  background-color:rgb(84, 223, 75);
  position:relative;
  top: 3px;
  left:6px;
}
.input-group{
  position:relative;
  width:350px;
  margin: auto;
  line-height:200px;
}
.input{
  width:200px;
  height:30px;
  border: 2px solid rgb(78, 227, 119);
}
.button{
  height:36px;
  background-color:rgb(64, 219, 52);
  position:relative;
  left:-7px;
  top:1.5px;
}