/* styles.css */
body {
    text-align: center;
}

.logo img {
    width: 100px; /* Adjust size as needed */
    height: auto;
    display: block;
    margin: 0 auto 20px auto; /* Centering the logo and adding space below */
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.profile-container form, .profile-image {
    margin: 10px;
}
